body {
    background-image: url("alanass.png");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
html{
    height: 100%;
}

#title {
    font-family: 'Open Sans', sans-serif;
   text-align: center;
   letter-spacing:2px;
   font-weight: lighter;
   font-size: 50px;
   padding-top: 120px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
}